
<div class="contact">
	<div class="container-contact100">
		<div class="wrap-contact100 firstone">
        <div class="contact100-more flex-col-c-m" >
          <span class="contact100-form-title" style="color:white">
              Consultation Hours
            </span>
          <div class="flex-w size1 p-b-47">
              
            <div class="txt1 p-r-25">
              <span class="lnr lnr-map-marker"></span>
            </div>
  
            <div class="flex-col size2">
              <span class="txt1 p-b-20">
                  Consultations are strictly by appointment only.

              </span>
  
              <span class="txt2">
                  Please either call us or send us an email to schedule an appointment.

              </span>
            </div>
          </div>
  
          <div class="dis-flex size1 p-b-47">
            <div class="txt1 p-r-25">
              <span class="lnr lnr-phone-handset"></span>
            </div>
  
            <div class="flex-col size2">
              <span class="txt1 p-b-20">
                  Our consultation hours are:
              </span>
  
              <span class="txt3">
                  Monday-Friday:  9:00 am to 7:00 pm
                  <br>
                  Saturdays: 9:00 am to 3:00 pm
                  
              </span>
            </div>
          </div>
  
          <div class="dis-flex size1 p-b-47">
            <div class="txt1 p-r-25">
              <span class="lnr lnr-envelope"></span>
            </div>
  
            <div class="flex-col size2">
              <span class="txt1 p-b-20">
                  We are closed on Sundays and public holidays.

              </span>
  
            </div>
          </div>
        </div>


        
      <div class="contact100-more flex-col-c-m" style="background-image: url('../../assets/contactus.jpg');">
        <span class="contact100-form-title" style="color:white">
            Contact Us
          </span>
				<div class="flex-w size1 p-b-47">
            
					<div class="txt1 p-r-25">
						<span class="lnr lnr-map-marker"></span>
					</div>

					<div class="flex-col size2">
						<span class="txt1 p-b-20">
							Address
						</span>

						<span class="txt2">
                MPRA 48,Kalathil Lane,
                Murinjapalam,near GG Hospital,
                Thiruvananthapuram,Kerala
                India-695004
                
						</span>
					</div>
				</div>

				<div class="dis-flex size1 p-b-47">
					<div class="txt1 p-r-25">
						<span class="lnr lnr-phone-handset"></span>
					</div>

					<div class="flex-col size2">
						<span class="txt1 p-b-20">
							Lets Talk
						</span>

						<span class="txt3">
							 
91-8848687972/9110412769

						</span>
					</div>
				</div>

				<div class="dis-flex size1 p-b-47">
					<div class="txt1 p-r-25">
						<span class="lnr lnr-envelope"></span>
					</div>

					<div class="flex-col size2">
						<span class="txt1 p-b-20">
							Email Support
						</span>

						<span class="txt3">
                prancaretoall@gmail.com
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

	
