
<div class="aboutUs">
<div class="container">
    <div class="section" >
  
      <div class="row">
        <h3 class="teal-text"><b>About Pran Care Psychological Services</b></h3>
        <mat-divider></mat-divider>
      <h4>History</h4>
      <div class="card-panel cardpanel">
          <p>
          
          Prancare is a private psychological and counselling practice founded in 2018. We provide a full
          range of psychological and counselling services for both adults and children.
          Our inception is to become one of the leading providers of private psychological and
          counselling services in India .  Our team of qualified professionals include clinical psychologists,
          child psychologists, educational counsellors, behaviour therapists, Psychiatric social workers and
          Trainers from various fields.
          <br>
          <br>
          Our practice is located in the Murinjapalam,Trivandrum (near GG Hospital) at a discrete and
          private location to ensure your complete confidentiality.  The practice is easily accessible by
          public transport (train or bus) .
        </p>
        </div>
        <mat-divider></mat-divider>
          <h4>Vision</h4>
          <div class="card-panel cardpanel">
<p>
At Pran Care Psychological Services, we take a
holistic approach to empower individuals by
helping them address their immediate concerns,
building on their strengths and preparing them to
overcome future challenges.
<br>
<br>
We truly believe that any patient at Pran Care
deserves nothing less than the best psychological
and counselling services to improve their quality
of life.
</p>
</div>
<mat-divider></mat-divider>
<h4>Our Visionary</h4>
<div class="card-panel cardpanel">
  <p>
Pran Nath PS is an unshakable Optimist.He believes that an individual’s greatest potential lies in
acceptance and the ability to grow.</p>
</div>
<mat-divider></mat-divider>
<h4>What to Expect ?</h4>
<div class="card-panel cardpanel">
  <p>
We Are Mental Health Professionals
Psychology is a recognised and regulated
mental health discipline – in fact, all
psychologists at Pran Care are trained and
experienced which means we follow a strict
code of ethics.
<br>
<br>
When you visit Pran Care, it should be like a
visit to any other health professional.
We Sign a Confidentiality Agreement
Being a private psychological practice in
Trivandrum , we take confidentiality
seriously and understand the importance of
maintaining trust of our patients.
We believe all our patients should feel
completely comfortable that Pran Care will never
disclose any information about them (or their
therapy) to even family members without the
patient’s prior consent.
<br>
<br>
To formalise this confidentiality undertaking,
both patient and psychologist will sign a
confidentiality agreement at their first meeting.
We Have a Diverse Team of Psychologists
All our psychologists and counsellors have been
carefully selected not only for their professional
qualifications and experience, but also for their
personality and demeanour.
<br>
<br>
They offer the highest level of professional
service to all patients in a warm and
accommodating manner.
<br><br>

Be Honest with Yourself to Make Progress
We understand that sometimes very personal
information is difficult to share and it may take a
few sessions to reach a level of trust with your
psychologist.
<br><br>
We assure you that none of our psychologists or
counsellors will ever form opinions or judge you
based on information provided to them – their
sole objective is to consider all information so
that the best treatment can be delivered.
The faster a patient can be open in
communication, the faster results can be seen.</p>
</div>
<mat-divider></mat-divider>

<h4>Initial Intake</h4>
<div class="card-panel cardpanel">
  <p>
Every new patient at Pran Care is required to complete an “initial intake” before commencement of treatment.
The initial intake appointment will last for around 90 minutes.  The initial intake will be completed by a psychologist or counsellor but is not a therapy session.
The purpose of the initial intake is for Pran Care to collect relevant background information on the patient (e.g. family history, medical history, personal background) and details of the current presenting concerns and/or issue(s).
</p></div>
<mat-divider></mat-divider>
<h4>First Session Nerves</h4>
<div class="card-panel cardpanel">
  <p>
It is normal to feel anxious or nervous before seeing a psychologist for the first time.You may even convince yourself that the issue is actually not that bad and you can deal with it later.
We would encourage patients to take the first step toward resolving rather than avoiding their difficulties. Psychological issues and/or problems left unaddressed will normally build up and return in some form.
</p></div>
        
      </div>
  
    </div>
  </div>


</div>