 <div class="navbar-fixed">
<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container logo-container-user" href="#" class="brand-logo">PranCare</a>
    <ul class="right hide-on-med-and-down">
        
        
      <li><a [routerLink]="['/home']">Home</a></li>
      <li><a [routerLink]="['/about-us']">About Us</a></li>
      
      <li>
              <mat-menu #appMenu="matMenu">
                  <button mat-menu-item [routerLink]="['/adult']">Adult and Child Services</button>
                  <button mat-menu-item [routerLink]="['/our-services']">Corporate Services</button>
                  <button mat-menu-item [routerLink]="['/assessments']">Assessments</button>
                </mat-menu>
        <a [matMenuTriggerFor]="appMenu">Our Services</a></li>
      <li><a [routerLink]="['/our-team']">Our Team</a></li>
      <li><a [routerLink]="['/contact-us']">Contact Us</a></li>
    </ul>

    <!-- <ul id="nav-mobile" class="sidenav">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#services">Our Services</a></li>
        <li><a href="#team">Our Team</a></li>
        <li><a href="#contact">Contact Us</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
  </div>
</nav>
</div>

    <router-outlet></router-outlet>


