<div class="navbar-fixed">
<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container logo-container-user" href="#" class="brand-logo">PranCare</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About Us</a></li>
      <li><a href="#services">Our Services</a></li>
      <li><a href="#team">Our Team</a></li>
      <li><a href="#contact">Contact Us</a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#services">Our Services</a></li>
        <li><a href="#team">Our Team</a></li>
        <li><a href="#contact">Contact Us</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>
</div>

<div id="home" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-darken-2">What does the world need?</h1>
      <div class="row center">
        <h5 class="header col s12 grey-text text-darken-4">"More Smiles"</h5>
        <h5 class="header col s12 grey-text text-darken-4">"Innovation and Creativity"</h5>
        <h5 class="header col s12 grey-text text-darken-4"> "Powerful Minds" </h5>
        <h5 class="header col s12 grey-text text-darken-4">"Meaningful Relationships"</h5>
        <h5 class="header col s12 grey-text text-darken-4"> "Goal directed Individuals" </h5>
      </div>
      <div class="row center">
        <a href="#services" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Rejuvenate</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="../assets/background4.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container" >
  <div class="section" id="about">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Why PranCare ?</h4>
        <p class="left-align">Are you or your loved one experiencing stress, depression, anxiety, or
          lack of living up to your full potential? We understand that this can lead
          to relationship problems, even self sabotaging you. Everything comes
          with a solution and sometimes you need a helping hand to realise that.
          PRAN CAREs counsellors will help you and your family members
          through a variety of proven guidance programmes for psychological,
          emotional, or behavioural problems. Pran Care services are mainly at
          three different levels.</p>
          <blockquote class="left-align">
            <b>Behavioural health for all</b> <br>
          This programme aims at providing quality psychological care for all
          above their social status
        </blockquote>
        <blockquote class="left-align">
          <b>E-evaluation for students</b> <br>
          This is an app based programme for students to assess their learning
          ability, IQ, EQ, behavioural evaluation, stress management.
        </blockquote>
        <blockquote class="left-align">
          <b>Corporate Guidance</b> <br>
          This concept is for employees who find difficulties in their field without
          realising that self actualisation can do wonders.
        </blockquote>
          
      </div>
    </div>

  </div>
  
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h4 class="header col s12 light">"The art of medicine consists of amusing the patient while nature cures the disease"</h4>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="../assets/background5.png" alt="Unsplashed background img 2"></div>
</div>
<div class="container">
  <div class="section" id="aboutUs">

    <div class="row">
      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Our Visionary</h5>

          <p class="light"><b>Pran Nath PS</b> is an unshakable Optimist. He believes that an individual’s greatest potential lies in acceptance and the ability to grow.
           <br> Being a psychologist, He often ask his clients HOW DO YOU DEFINE
            YOURSELF? And they go... huh!!
            This is the moment for realization and acceptance. This is where the key
            to one’s true potential starts, at that very moment. At this point he guide
            them to realise WHY NOT? And there starts a new quest for the real
            you the better you.
          </p>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Our Mission</h5>

          <p class="light">Provide quality behavioural care for all to work towards a brighter future.</p>
        </div>
      </div>

      
    </div>

  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h4 class="header col s12 light">"There is no illness that is not exacerbated by stress"</h4>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="../assets/temp.jpg" alt="Unsplashed background img 3"></div>
</div>


<div class="container">
  <div class="section" id="services">

    <div class="row left-align">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Our Services</h4>

        <ul class="collection with-header brown-text left-align">
          <li class="collection-item"><div><b>Individual Counselling</b><a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
          <li class="collection-item"><div><b>Learning disability evaluation</b><a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
          <li class="collection-item"><div><b>School readiness evaluation</b><a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
          <li class="collection-item"><div><b>Stress management</b><a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
          <li class="collection-item"><div><b>Psychological testing</b><a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
          <li class="collection-item"><div><b>Educational assessment</b><a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
          <li class="collection-item"><div><b>Marital/pre-marital counselling</b><a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
          <li class="collection-item"><div><b>Anger management</b><a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
          <li class="collection-item"><div><b>Work life balance</b><a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
          <li class="collection-item"><div><b>Psychiatric evaluation</b><a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
          <li class="collection-item"><div><b>IQ/EQ evaluation</b><a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
          <li class="collection-item"><div><b>Family therapy</b><a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
         
        </ul>
          
        
      </div>
    </div>

  </div>
</div>




<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h4 class="header col s12 light">"Health Care is a right, not a privilege"</h4>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="../assets/background7.png" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section" id="team">

    <div class="row left-align">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Our Team</h4>
        <ul class="collection left-align">
          <li class="collection-item">
              <div class="card horizontal small">
                <div class="card-image">
                  <img src="../assets/team1.PNG">
                </div>
                <div class="card-stacked">
                  <div class="card-content">
                    <blockquote><b>Thamam Mubarish</b> - Actor and Theatre personnel</blockquote>
                    <p>Hails from Mahe, he is a young theatre activist
                      and performer in amateur theatre stages. He
                      is a member of eminent theatre groups in
                      Kerala such as Remembrance Theatre Group,
                      Rangachetana etc. He is also part of
                      Rangmanch- Dramatics club of Indian Institute
                      of Science, Bangalore. Has acted in almost 20
                      plays and directed 2 by now.</p>
                  </div>
                  
                </div>
              </div>

          </li>
          <li class="collection-item">

            <div class="card horizontal small">
              <div class="card-image">
                <img src="../assets/team2.PNG">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <blockquote><b>Nessen Marday</b> - Industrial Psychologist</blockquote>
                  <p>Being an Industrial Organisational
                    Psychologist, has I believed provided me with
                    the adequate tools to thrive and succeed in
                    most fields. Driven by boundless motivation, I
                    am committed to bring out the best in both
                    myself and my environment. Moreover, taking
                    up a subsidiary course in communication has
                    added a trump card to my arsenal of skills and
                    abilities, thus solidifying my status as a
                    professional.</p>
                </div>
                
              </div>
            </div>
          </li>
          <li class="collection-item">
            <div class="card horizontal small">
              <div class="card-image">
                <img src="../assets/team3.PNG">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <blockquote><b>Spurthi</b> - Psychologist</blockquote>
                  <p>I’m from Bangalore. I’ve completed my
                    Masters in Clinical Psychology at University of
                    Mysore. Why Psychology? It is important to
                    deal with your internal chaos and at the same
                    time help the external world with theirs.My
                    good mood is sponsored by Coffee. Often, I’m a mystery to myself dancing on the edge of
                    infinite thoughts.
                    Just remember, nothing is permanent.</p>
                </div>
                
              </div>
            </div>
          </li>
          <li class="collection-item">
            <div class="card horizontal small">
              <div class="card-image">
                <img src="../assets/team4.PNG">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <blockquote><b>Sebin James</b> - Consultant Psychologist</blockquote>
                  <p>I’ve completed post-graduation in Psychology
                    with specialization in Clinical Psychology from University of Mysore. His area of interest is
                    Guidance and Counselling.</p>
                </div>
                
              </div>
            </div>
          </li>
          <li class="collection-item">
            <div class="card horizontal small">
              <div class="card-image">
                <img src="../assets/team5.PNG">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <blockquote><b>Janavi Anand</b> - Movement Therapist</blockquote>
                  <p>Each individual is a little bit of cognition, a little
                    social, some part being physical along with
                    emotional. Working in alignment aids a holistic
                    lifestyle especially when they are all
                    interdependent.Come.... Explore, Express and
                    Evolve with us</p>
                </div>
                
              </div>
            </div>
          </li>
          <li class="collection-item">
            <div class="card horizontal small">
              <div class="card-image">
                <img src="../assets/team6.PNG">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <blockquote><b>Neesiya Amees</b> - Life Skill Trainer</blockquote>
                  <p>From the background of Psychology, I support
                    individuals to act more efficiently. By being
                    more efficient in the way we act, we can aim
                    higher. Let’s aim higher.</p>
                </div>
                
              </div>
            </div>
          </li>
          <li class="collection-item">
            <div class="card horizontal small">
              <div class="card-image">
                <img src="../assets/team7.PNG">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <blockquote><b>Sathvik</b> - Psychologist</blockquote>
                  <p>A person afflicted by addiction is suffering as
                    much as an individual struck by a chronic
                    disease like hypertension or diabetes. So I
                    specializes in drug and alcohol de addiction.</p>
                </div>
                
              </div>
            </div>
          </li>
          <li class="collection-item">
            <div class="card horizontal small">
              <div class="card-image">
                <img src="../assets/team8.PNG">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <blockquote><b>Manav Jyothi</b> - Psychologist</blockquote>
                  <p>I meet with clients to identify
                    problems—emotional, mental and
                    behavioural—in their lives. Through
                    observation, interviews and tests, and I will
                    diagnose any existing or potential disorders.</p>
                </div>
                
              </div>
            </div>
          </li>
          <li class="collection-item">
            <div class="card horizontal small">
              <div class="card-image">
                <img src="../assets/team9.PNG">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <blockquote><b>Abdul Gafoor</b> - Psychiatric Social Worker</blockquote>
                  <p>I like to be a reason for positive social change,
                    so coming from the background of social work
                    I can support and contribute many attributes
                    to an individual, which comes out as a positive
                    change.</p>
                </div>
                
              </div>
            </div>
          </li>
          <li class="collection-item">
            <div class="card horizontal small">
              <div class="card-image">
                <img src="../assets/team10.PNG">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <blockquote><b>Pooja Ravi</b> - Psychologist/ABA Therapist</blockquote>
                  <p></p>
                </div>
                
              </div>
            </div>
          </li>
        </ul>
      
      </div>
    </div>

  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h4 class="header col s12 light">"Your happiness is a reflection of your health"</h4>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="../assets/background8.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section" id="contact">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <div class="row">
          <form class="col s12" action="mailto:dineeshsz@gmail.com" method="GET">
            <div class="row">
              <div class="input-field col s6">
                <input id="first_name" type="text" class="validate">
                <label for="first_name">First Name</label>
              </div>
              <div class="input-field col s6">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">Last Name</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <input id="phone" type="text" class="validate">
                <label for="phone">Phone Number</label>
              </div>
              <div class="input-field col s6">
                <input id="email" type="email" class="validate">
                <label for="email">Email Address</label>
              </div>
            </div>
           
      
              
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Enter Your Message here</label>
                  </div>
                </div>
              </form>
            </div>
            
  <button class="btn waves-effect waves-light btn-large" type="submit" name="action">Send
    <i class="material-icons right">send</i>
  </button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light"></h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="../assets/background6.jpg" alt="Unsplashed background img 3"></div>
</div>

<footer class="page-footer teal">
  
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="brown-text text-lighten-3" href="https://www.facebook.com/dineesh.sudhakaran">Dineesh Sudhakaran</a>
    </div>
  </div>
</footer>