
  <div class="assessments">
  
  <div class="container servicesClass">
        <div class="section" id="services">
      
          <div class="row left-align">
            <div class="col s12 center">
              <h3><i class="mdi-content-send brown-text"></i></h3>
              <h3 class="teal-text"><b>Assessments</b> </h3>
              <mat-divider></mat-divider>
              <br>
              <div class="card-panel cardpanel">
              <p class="left-align">Pran Care offers a wide range of diagnostic and psychometric assessments for both children and adults.
                    Examples of areas where we regularly complete assessment and testing include:
                    </p>  
                    <mat-list role="list">
                            <mat-list-item role="listitem">1. Autism Spectrum Disorder (which includes the condition formerly known as Asperger Syndrome)</mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item role="listitem">2. Attention Deficit Hyperactivity Disorder (ADHD)
                              </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item role="listitem">3. Behavioural Assessment</mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item role="listitem">4. Cognitive Assessment</mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item role="listitem">5. Conduct Disorder
                              </mat-list-item>
                              <mat-divider></mat-divider>
                            <mat-list-item role="listitem">6. Developmental Delay (GDD)</mat-list-item>
                          
                          <mat-divider></mat-divider>
                          <mat-list-item role="listitem">7. Giftedness
                              </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item role="listitem">8. Intellectual Disability</mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item role="listitem">9. Learning Disorders including Dyslexia, Dyscalculia and Dysgraphia
                              </mat-list-item>
                          </mat-list>
              <p class="left-align">Please contact us to find out more details about specific assessment tools that we use at Pran Care
                </p>
            </div>
        </div>
          </div>
      
        </div>
      </div>
      
      
      
      
    </div>