<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h4 class="header col s12 light">"There is no illness that is not exacerbated by stress"</h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="../assets/background4.jpg" alt="Unsplashed background img 3"></div>
  </div>
  
  
  <div class="container">
    <div class="section" id="services">
  
      <div class="row left-align">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Our Services</h4>
  
          <ul class="collection with-header brown-text left-align">
            <li class="collection-item"><div><b>Individual Counselling</b><a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div><b>Learning disability evaluation</b><a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div><b>School readiness evaluation</b><a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div><b>Stress management</b><a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div><b>Psychological testing</b><a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div><b>Educational assessment</b><a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div><b>Marital/pre-marital counselling</b><a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div><b>Anger management</b><a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div><b>Work life balance</b><a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div><b>Psychiatric evaluation</b><a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div><b>IQ/EQ evaluation</b><a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div><b>Family therapy</b><a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
           
          </ul>
            
          
        </div>
      </div>
  
    </div>
  </div>
  
  
  
  
  