
  <div class="adult">
  
  <div class="container servicesClass">
        <div class="section" id="services">
      
          <div class="row left-align">
            <div class="col s12 center">
              <h3><i class="mdi-content-send brown-text"></i></h3>
              <h3 class="teal-text"><b>Adult Services</b> </h3>
              <mat-divider></mat-divider>
              <br>
              <mat-accordion class="example-headers-align">
                  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                         <b>Psychotherapy and Counselling</b> 
                         
                      </mat-panel-title>
                      
                      <mat-panel-description>
                          Click to know more..
                          
                        <mat-icon>arrow_drop_down</mat-icon>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                <p style="text-align:left" >Pran Care has an experienced team of qualified clinical psychologists that provide both psychotherapy and counselling services.
 <br><br>
                        Psychotherapy and counselling is sometimes used interchangeably, but they are different and it is essential that your therapist is appropriately trained for treatment to be effective and safe.
                        <br><br>
                        Psychotherapy is generally a longer term treatment aimed at gaining insight into chronic emotional and/or physical issues. The treatment plan focuses on an individual’s thought processes and overall well-being rather than a specific problem.
                        Counselling is normally a shorter term series of therapy with focus on a specific problem or symptom which the individual needs guidance on how to resolve or manage.
                        Through our mandatory initial intake process, we take great care ensuring all new patients are matched with the most appropriate Pran Care psychologist or counsellor. We consider this matching process essential to providing patients the best quality care as it allows us to allocate the most appropriate therapist to you.
                        Pran Care has helped people overcome a wide range of issues.  This is not an exhaustive list, but typical presenting concerns faced by our patients seeking psychotherapy or counselling services include:
                        
                </p>
          <mat-list role="list">
                              <mat-list-item role="listitem">1. Anger Management</mat-list-item>
                              <mat-divider></mat-divider>
                              <mat-list-item role="listitem">2. Anxiety</mat-list-item>
                              <mat-divider></mat-divider>
                              <mat-list-item role="listitem">3. Confidence and Self Esteem</mat-list-item>
                              <mat-divider></mat-divider>
                              <mat-list-item role="listitem">4. Depression</mat-list-item>
                              <mat-divider></mat-divider>
                              <mat-list-item role="listitem">5. Drug and Alcohol Addiction
                                </mat-list-item>
                                <mat-divider></mat-divider>
                              <mat-list-item role="listitem">6. Eating Disorders</mat-list-item>
                            
                            <mat-divider></mat-divider>
                            <mat-list-item role="listitem">7. Expatriate and Relocation Issues</mat-list-item>
                              <mat-divider></mat-divider>
                              <mat-list-item role="listitem">8. Gambling Addiction</mat-list-item>
                              <mat-divider></mat-divider>
                              <mat-list-item role="listitem">9. Grief and loss
                                </mat-list-item>
                              <mat-divider></mat-divider>
                              <mat-list-item role="listitem">10. Internet addictions (including gaming, social media & pornography)
                                </mat-list-item>
                              <mat-divider></mat-divider>
                              <mat-list-item role="listitem">11. Obsessive Compulsive Disorder</mat-list-item>
                                    <mat-divider></mat-divider>
                                    <mat-list-item role="listitem">12. Mood Disorders
                                      </mat-list-item>
                                    <mat-divider></mat-divider>
                                    <mat-list-item role="listitem">13. Personality Disorder

                                </mat-list-item>
                                <mat-divider></mat-divider>
                                    <mat-list-item role="listitem">14. Phobia
                                      </mat-list-item>
                                    <mat-divider></mat-divider>
                                    <mat-list-item role="listitem">15. Relationships</mat-list-item>
                                            <mat-divider></mat-divider>
                                            <mat-list-item role="listitem">16. Sexuality Issues

                                              </mat-list-item>
                                            <mat-divider></mat-divider>
                                            <mat-list-item role="listitem">17. Sexual Difficulties

</mat-list-item>
                                                    <mat-divider></mat-divider>
                                                    <mat-list-item role="listitem">18. Stress Management
                                                      </mat-list-item>
                                                    <mat-divider></mat-divider>
                                                    <mat-list-item role="listitem">19. Wellbeing and Performance
                

                                </mat-list-item>
                            </mat-list>
                    <mat-action-row>
                      <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                  </mat-expansion-panel>
                
                  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                      <mat-expansion-panel-header>
                          <mat-panel-title>
                             <b>Couples Therapy
                                </b> 
                          </mat-panel-title>
                          <mat-panel-description>
                              Click to know more..
                              
                            <mat-icon>arrow_drop_down</mat-icon>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                    <p style="text-align:left">It is not uncommon for a couple to disagree on an important decision, causing conflicts that may lead to disagreements, broken communication and/or dissolve the unity of the relationship.  Couples Therapy can help bridge the gap and restore balance in a relationship.
                            There are many reasons why this situation might arise, including, partners not being honest with each other (which may include infidelity), lack of communication, or maybe one (or both) partners have changed their views on one another.
                            If couples can openly talk and listen about the issues and concerns with an open mind, many of these situations can be resolved through couples therapy.
                            Approach to couples therapy varies depending on the situation but may include joint counselling sessions with both partners present complemented with individual sessions for each partner.
                            Typical issues we have helped couples overcome at Think Psychological Services include:
                            
                       
                        
              </p>
              <mat-list role="list">
                                  <mat-list-item role="listitem">1. Communications issues
                                    </mat-list-item>
                                  <mat-divider></mat-divider>
                                  <mat-list-item role="listitem">2. Divorce and separation</mat-list-item>
                                  <mat-divider></mat-divider>
                                  <mat-list-item role="listitem">3. Divorce and co-parenting
                                    </mat-list-item>
                                  <mat-divider></mat-divider>
                                  <mat-list-item role="listitem">4. Extended family issues
                                    </mat-list-item>
                                  <mat-divider></mat-divider>
                                  <mat-list-item role="listitem">5. Falling out of love
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                  <mat-list-item role="listitem">6. Infidelity and flirting with others
                                    </mat-list-item>
                                  <mat-divider></mat-divider>
                                  <mat-list-item role="listitem">7. Intimacy issues
                                    </mat-list-item>
                                  <mat-divider></mat-divider>
                                  <mat-list-item role="listitem">8. Financial related issues</mat-list-item>
                                  <mat-divider></mat-divider>
                                  <mat-list-item role="listitem">9. Marriage counselling
                                    </mat-list-item>
                                  <mat-divider></mat-divider>
                                  <mat-list-item role="listitem">10. Pre-marital issues
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                  <mat-list-item role="listitem">11. Relationship counselling

                                    </mat-list-item>
                                  <mat-divider></mat-divider>
                                  <mat-list-item role="listitem">12. Sexuality issues
                                    </mat-list-item>
                                </mat-list>
                        
                                <mat-action-row>
                                    <button mat-button color="warn" (click)="prevStep()">Previous</button>
                                    <button mat-button color="primary" (click)="nextStep()">Next</button>
                                  </mat-action-row>
                  </mat-expansion-panel>
                
                  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                      <mat-expansion-panel-header>
                          <mat-panel-title>
                             <b>Family Therapy
                              </b> 
                          </mat-panel-title>
                          <mat-panel-description>
                              Click to know more..
                              
                            <mat-icon>arrow_drop_down</mat-icon>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                    <p style="text-align:left">Family therapy normally involves the whole family, or several family members, meeting with a counsellor or psychologist to discuss presenting issues.
                            Family therapy is helpful in situations where the family system has been disrupted.  This may be a result of a problem of a single family member or multiple family members, where the issue is related or completely different.
                            The aim of family therapy is not to place blame on a single family member but rather to change overall family interaction or behaviour to help resolve the concern.
                            Typical situations we see at Pran Care include:
                            
    
                       
                        
              </p>
              <mat-list role="list">
                                  <mat-list-item role="listitem">1. Conflict between family members
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                  <mat-list-item role="listitem">2. Illness of a family member
                                    </mat-list-item>
                                  <mat-divider></mat-divider>
                                  <mat-list-item role="listitem">3. Re-marriage and acceptance

                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                  <mat-list-item role="listitem">4. Sibling relationships</mat-list-item>
                                  <mat-divider></mat-divider>
                                  <mat-list-item role="listitem">5. Parent and adult children relationships
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                  <mat-list-item role="listitem">6. Grief and loss</mat-list-item>
                        </mat-list>
                                <mat-action-row>
                                    <button mat-button color="warn" (click)="prevStep()">Previous</button>
                                    <button mat-button color="primary" (click)="nextStep()">Next</button>
                                  </mat-action-row>
                  </mat-expansion-panel>
    
                  <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
                      <mat-expansion-panel-header>
                          <mat-panel-title>
                             <b>LGBT Counselling
                              </b> 
                          </mat-panel-title>
                          <mat-panel-description>
                              Click to know more..
                              
                            <mat-icon>arrow_drop_down</mat-icon>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                    <p style="text-align:left">Pran Care provides specialised LGBT counselling services for lesbian, gay, bisexual and transgender individuals and couples.
                            Being a private practice which prides itself on confidentiality, our psychologists and counsellors have significant experience helping LGBT individuals and couples work through a wide range of issues including:
                            
    
    
                       
                        
              </p>
                  <mat-list role="list">
                        <mat-list-item role="listitem">1. Coming out process
                          </mat-list-item>
                          <mat-divider></mat-divider>
                        <mat-list-item role="listitem">2. Discrimination
                          </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item role="listitem">3. Fidelity issues


                          </mat-list-item>
                          <mat-divider></mat-divider>
                        <mat-list-item role="listitem">4. National service support
                            </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item role="listitem">5. Parents dealing with LGBT child

                          </mat-list-item>
                          <mat-divider></mat-divider>
                        <mat-list-item role="listitem">6. Relationships</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item role="listitem">7. Sexual identity

                            </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item role="listitem">8. Social issues


                          </mat-list-item>
                          <mat-divider></mat-divider>
                        <mat-list-item role="listitem">9. Work environment issues
                            </mat-list-item>
              </mat-list>
                        
                                <mat-action-row>
                                    <button mat-button color="warn" (click)="prevStep()">Previous</button>
                                    <button mat-button color="primary" (click)="nextStep()">End</button>
                                  </mat-action-row>
                  </mat-expansion-panel>
                
                </mat-accordion>
                
              
            </div>
          </div>









          <div class="row left-align">
                <div class="col s12 center">
                  <h3><i class="mdi-content-send brown-text"></i></h3>
                  <h3 class="teal-text"><b>Child Services</b> </h3>
                  <mat-divider></mat-divider>
                  <br>
                  <mat-accordion class="example-headers-align">
                      <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                             <b style="font-family: roboto">Counselling and Therapy</b> 
                             
                          </mat-panel-title>
                          
                          <mat-panel-description>
                              Click to know more..
                              
                            <mat-icon>arrow_drop_down</mat-icon>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                    <p style="text-align:left" >The main difference between counselling for children
                            and adults is the need to alter therapy to allow for the
                            child’s level of cognitive and emotional development. 
                            This includes the fact that children may not be strong
                            in verbal communication and are less likely to realise
                            they are experiencing difficulties on their own.
                            At Pran Care we have a team of child psychologist
                            (both clinical, educational &amp; developmental) and
                            counsellors who specialise in children.  This allows us
                            to offer a full suite of psychological services for
                            children ranging from counselling to assessment /
                            diagnosis to intervention recommendations and other
                            intervention services.
                            <br><br>
                            At Pran Care, we take a holistic approach to our child psychologist services which involves working
                            closely with not only the child, but also their family, school .
                            Many parents seek our child psychologist services for a wide range of psychological and behaviour
                            issues, inluding:
                    </p>
              <mat-list role="list">
                                  <mat-list-item role="listitem">1. Autism Spectrum Disorder</mat-list-item>
                                  <mat-divider></mat-divider>
                                  <mat-list-item role="listitem">2. ADHD (Attention Deficit Hyperactive Disorder)
                                    </mat-list-item>
                                  <mat-divider></mat-divider>
                                  <mat-list-item role="listitem">3. Anxiety</mat-list-item>
                                  <mat-divider></mat-divider>
                                  <mat-list-item role="listitem">4. Behaviour Management</mat-list-item>
                                  <mat-divider></mat-divider>
                                  <mat-list-item role="listitem">5. Conduct Disorder
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                  <mat-list-item role="listitem">6. Depression</mat-list-item>
                                
                                <mat-divider></mat-divider>
                                <mat-list-item role="listitem">7. Dyslexia
                                    </mat-list-item>
                                  <mat-divider></mat-divider>
                                  <mat-list-item role="listitem">8. Gaming Addiction</mat-list-item>
                                  <mat-divider></mat-divider>
                                  <mat-list-item role="listitem">9. Giftedness
                                    </mat-list-item>
                                  <mat-divider></mat-divider>
                                  <mat-list-item role="listitem">10. Global Development Delay

                                    </mat-list-item>
                                  <mat-divider></mat-divider>
                                  <mat-list-item role="listitem">11. Intellectual Disability
                                    </mat-list-item>
                                        <mat-divider></mat-divider>
                                        <mat-list-item role="listitem">12. Internet Addiction

                                          </mat-list-item>
                                        <mat-divider></mat-divider>
                                        <mat-list-item role="listitem">13. Learning Disorders (e.g. Dyscalculia and Dysgraphia)

    
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                        <mat-list-item role="listitem">14. Mood Disorders
                                          </mat-list-item>
                                        <mat-divider></mat-divider>
                                        <mat-list-item role="listitem">15. Oppositional Defiant Disorder
                                            </mat-list-item>
                                                <mat-divider></mat-divider>
                                                <mat-list-item role="listitem">16. Restrictive Eating
    
                                                  </mat-list-item>
                                                <mat-divider></mat-divider>
                                                <mat-list-item role="listitem">17. Selective Mutism
    
    </mat-list-item>
                                                        <mat-divider></mat-divider>
                                                        <mat-list-item role="listitem">18. Sexuality Issues

                                                          </mat-list-item>
                                </mat-list>
                        <mat-action-row>
                          <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                      </mat-expansion-panel>
                    
                      <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle>
                          <mat-expansion-panel-header>
                              <mat-panel-title>
                                 <b>Behaviour Management
                                    </b> 
                              </mat-panel-title>
                              <mat-panel-description>
                                  Click to know more..
                                  
                                <mat-icon>arrow_drop_down</mat-icon>
                              </mat-panel-description>
                            </mat-expansion-panel-header>
                        <p style="text-align:left">Pran Care, takes a developmental approach to behaviour management and intervention.
                                We understand that every child is different and requires a customised program.
                                We utilise a number of evidence-based methods in our behaviour management programs as noted below.
                               <br><i><b>Applied Behavioural Analysis (ABA)</b> </i><br>
                                Pran Care is an advocate of Lovaas-style ABA, which involves discrete trial training. This training addresses social, motor, verbal behaviours as well as reasoning skills. This form of ABA focuses on reinforcing the behaviour we want.
                                ABA is evidence based and has been proven to provide the best results for behaviour management in children with Autism, related disorders and other challenging behaviours..
                              <br> <i><b>Social Skills Group Training</b></i> <br>
                                Pran Care provide social skills group training for children with special needs and/or challenging behaviors. All social skills training at Pran Care employs evidence-based methods proven to teach children how to engage, respond and regulate social interactions with their peers and community.
                                All social skills groups are kept to a small number of participants of similar age and complementary profile. The social skills training sessions will include structured activities such as therapist-guided games, role-plays, discussions, worksheets and video feedback. The activities will be targeted in helping your child to gain awareness on why the skills are necessary, as well as giving him/her a chance to practice them in class.
                               <br><i><b>Cognitive Behaviour Therapy (CBT)</b></i> <br>
                                CBT is a psychotherapeutic approach, aimed at addressing dysfunctional thoughts, behaviours or emotions. The fundamental concept behind CBT is that an individual’s thoughts and feelings play a basic role in our behaviour and by adjusting how we view and deal with things in the environment; we can then modify our thoughts and actions.
                                
                           
                            
                  </p>
                                    <mat-action-row>
                                        <button mat-button color="warn" (click)="prevStep()">Previous</button>
                                        <button mat-button color="primary" (click)="nextStep()">Next</button>
                                      </mat-action-row>
                      </mat-expansion-panel>
                    
                    
                    </mat-accordion>
                    
                  
                </div>
              </div>
      
        </div>
      </div>
      
    </div>














      
      
      
      