<div id="home" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-darken-2">What does the world need?</h1>
        <div class="row center">
          <h5 class="header col s12 grey-text text-darken-4">"More Smiles"</h5>
          <h5 class="header col s12 grey-text text-darken-4">"Innovation and Creativity"</h5>
          <h5 class="header col s12 grey-text text-darken-4"> "Powerful Minds" </h5>
          <h5 class="header col s12 grey-text text-darken-4">"Meaningful Relationships"</h5>
          <h5 class="header col s12 grey-text text-darken-4"> "Goal directed Individuals" </h5>
        </div>
        <div class="row center">
          <a href="#services" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Rejuvenate</a>
        </div>
        <br><br>
  
      </div>
    </div>
    <div class="parallax"><img src="../assets/background4.jpg" alt="Unsplashed background img 1"></div>
  </div>
  
  
  <div class="container" >
    <div class="section" id="about">
  
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Why PranCare ?</h4>
          <p class="left-align">Are you or your loved one experiencing stress, depression, anxiety, or
            lack of living up to your full potential? We understand that this can lead
            to relationship problems, even self sabotaging you. Everything comes
            with a solution and sometimes you need a helping hand to realise that.
            PRAN CAREs counsellors will help you and your family members
            through a variety of proven guidance programmes for psychological,
            emotional, or behavioural problems. Pran Care services are mainly at
            three different levels.</p>
            <blockquote class="left-align">
              <b>Behavioural health for all</b> <br>
            This programme aims at providing quality psychological care for all
            above their social status
          </blockquote>
          <blockquote class="left-align">
            <b>E-evaluation for students</b> <br>
            This is an app based programme for students to assess their learning
            ability, IQ, EQ, behavioural evaluation, stress management.
          </blockquote>
          <blockquote class="left-align">
            <b>Corporate Guidance</b> <br>
            This concept is for employees who find difficulties in their field without
            realising that self actualisation can do wonders.
          </blockquote>
            
        </div>
      </div>
  
    </div>
    
  </div>
  
  
