

<div id="home">
    <div class="section no-pad-bot">
      <div class="container">
        
        <h1 class="header center teal-text ">What does the world need?</h1>
        <br>
        <div class="needs center">
            <blockquote class="left-align">
                <h5 class="header col s12 white-text text-darken-4">"More Smiles"</h5>
              </blockquote>
              <blockquote class="left-align">
                  <h5 class="header col s12 white-text text-darken-4">"Innovation and Creativity"</h5>
                </blockquote>
                <blockquote class="left-align">
                    <h5 class="header col s12 white-text text-darken-4"> "Powerful Minds" </h5>
                  </blockquote>
                  <blockquote class="left-align">
                      <h5 class="header col s12 white-text text-darken-4">"Meaningful Relationships"</h5>
                    </blockquote>
                    <blockquote class="left-align">
                        <h5 class="header col s12 white-text text-darken-4"> "Goal directed Individuals" </h5>
                      </blockquote>
          
          
          
          
          
        </div>
        <!-- <div class="row center">
          <a href="#services" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Rejuvenate</a>
        </div> -->
        <!-- <br><br> -->
  
      </div>
    </div>
    <br><br>
  </div>
  
  <div class="about">
  <div class="container" >
    <div class="section" id="about">
  
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4 class="mdi-content-send brown-text">Let's see how the story begins.......</h4>
          <br>
          <h5>Pran Nath PS</h5>
          <mat-divider></mat-divider>
          <blockquote class="left-align">
          <p class="left-align">"Being a psychologist, I often ask my clients <b>HOW DO YOU DEFINE
              YOURSELF?</b>  And they go... huh!!"
            <br>
            This is the moment for realization and acceptance. This is where the key to
            one’s true potential starts, at that very moment. At this point I guide them to
            realise <b>WHY NOT? </b> <br> And there starts a new quest for the real you the better
            
            you.</p>
          </blockquote>
        </div>
      </div>
  
    </div>
    
  </div>
  
  
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h4 class="header col s12 light">"The art of medicine consists of amusing the patient while nature cures the disease"</h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img  src="../../assets/image.jpg" alt="Unsplashed background img 2"></div>
  </div>
<div class="section missionsection">
  <div class="container">
          <div class="row">
              <div class="col s12 center"><h5>PranCare - Vision</h5>
                <mat-divider></mat-divider>
                <p>
                    Pran Nath P S is an unshakable Optimist. <br>
                    He believes that an individual’s greatest potential lies in acceptance and the ability to grow.
                    
                </p>
                
                </div>
            </div>
          <div class="row">
              <div class="col s12 center"><h5>PranCare - Mission</h5>

                <mat-divider></mat-divider>
                <p>
                    Provide quality behavioural care for all to work towards a brighter future.                          
                </p>
                </div>
            </div>
          
 
          </div>         
            
        </div>

          <div class="parallax-container valign-wrapper">
              <div class="section no-pad-bot">
                <div class="container">
                  <div class="row center">
                    <h4 class="header col s12 light">"There is no illness that is not exacerbated by stress</h4>
                  </div>
                </div>
              </div>
              <div class="parallax"><img src="../../assets/new1.jpg" alt="Unsplashed background img 2"></div>
            </div>

            <div class="section missionsection">
                <div class="container">
                        <div class="row">
                            <div class="col s12 center"><h5>Behind the idea of PRAN CARE</h5>
                              <mat-divider></mat-divider>
                              <p class="left-align">
                                  Are you or your loved one experiencing stress, depression, anxiety, or lack of living up to your full potential? <br> We understand that this can lead to relationship problems, even self sabotaging you. Everything comes with a solution and sometimes you need a helping hand to realise that. PRAN CARE's counsellors will help you and your family members through a variety of proven guidance programmes for psychological, emotional, or behavioural problems. <br> Pran Care services are mainly at three different levels.
<br>
<b style="color:brown">Behavioural health for all</b> <br>
This programme aims at providing quality psychological care for all above their social status
<br>
<b style="color:brown">E-evaluation for students</b><br>

This is an app based programme for students to assess their learning ability, IQ&EQ, behavioural evaluation& stress management.
<br>
<b style="color:brown">Corporate Guidance</b><br>

This concept is for employees who find difficulties in their field without realising that self actualisation can do wonders.

                              </p>
                              </div>
                          </div>
                        
               
                        </div>         
                          
                      </div>

